
{% extends "./plantilla.html" %}

{% block body %}
    <main class="contenedor">
        <h1>Nuestros Productos</h1>
        <div class="grid">
            {% for camiseta in camisetas %}
            <div class="producto">
                <a href="/productos/{{camiseta.id}}">
                  <img class="producto__imagen" src="{{camiseta.imagen.url}}" alt="imagen camisa">
                  <div class="producto__informacion">
                    <p class="producto__nombre">{{camiseta.nombre}}</p>
                    <p class="producto__precio">${{camiseta.precio}}</p>
                  </div>  
                </a>
            </div><!--producto-->
            {% endfor %}

            <div class="grafico grafico--camisas"></div>
            <div class="grafico grafico--node"></div>
        </div>

    </main>
{% endblock%}

