{% extends "./plantilla.html" %}

{% block body %}

    <main class="contenedor">
        <h1>Nosotros</h1>
        <div class="nosotros">
            <div class="nosotros__contenido">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat varius euismod. Fusce sit amet sodales dui. Fusce porttitor ac ipsum vitae ultricies. In scelerisque posuere purus, a ornare quam. Quisque sollicitudin odio a dui commodo, et vestibulum ipsum sodales. Ut ultricies vestibulum posuere. Maecenas a felis dignissim, mattis mi condimentum, sollicitudin quam. Ut aliquet, ante ut imperdiet rutrum, nulla nunc posuere quam, non imperdiet nisi lorem ut nibh. Vivamus vestibulum diam ut tortor congue pulvinar.
                </p>
                <p>
                    Suspendisse accumsan dui vel dolor vehicula tincidunt. Aliquam feugiat tortor nec sapien placerat, id eleifend sem semper.
                </p>
                
            </div>
            {% load static %} 
            <img class="nosotros__imagen" src="{% static 'img/nosotros.jpg' %}" alt="imagen nosotros">
        </div>

    </main>
    <section class="contenedor comprar ">
        <h2 class="comprar__titulo">¿Porqué comprar con nosotros</h2>
        <div class="bloques">
            <div class="bloque">
                {% load static %} 
                <img class="bloque__imagen" src="{% static 'img/icono_1.png' %}" alt="porque comprar">
                <h3 class="bloque--titulo">El Mejor Precio</h3>
                <p>Suspendisse tristique mauris quam. Proin ac arcu vitae magna fringilla porta. Curabitur placerat aliquet ante, a euismod metus tristique quis</p>
            </div><!--Bloque-->
            <div class="bloque">
                {% load static %} 
                <img class="bloque__imagen" src="{% static 'img/icono_2.png' %}"  alt="porque comprar">
                <h3 class="bloque--titulo">Para Devs</h3>
                <p>Suspendisse tristique mauris quam. Proin ac arcu vitae magna fringilla porta. Curabitur placerat aliquet ante, a euismod metus tristique quis</p>
            </div><!--Bloque-->
            <div class="bloque">
                {% load static %} 
                <img class="bloque__imagen" src="{% static 'img/icono_3.png' %}"  alt="porque comprar">
                <h3 class="bloque--titulo">Envio Gratis</h3>
                <p>Suspendisse tristique mauris quam. Proin ac arcu vitae magna fringilla porta. Curabitur placerat aliquet ante, a euismod metus tristique quis</p>
            </div><!--Bloque-->
            <div class="bloque">
                {% load static %} 
                <img class="bloque__imagen" src="{% static 'img/icono_4.png' %}"  alt="porque comprar">
                <h3 class="bloque--titulo">La Mejor Calidad</h3>
                <p>Suspendisse tristique mauris quam. Proin ac arcu vitae magna fringilla porta. Curabitur placerat aliquet ante, a euismod metus tristique quis</p>
            </div><!--Bloque-->

        </div><!--Bloques-->
    </section>
{% endblock %}
