{% extends "./plantilla.html" %}

{% block body %}

    <main class="contenedor">
        <h1>{{camiseta.nombre}}</h1>
        <div class="camisa">
            <img class="camisa__imagen" src="{{camiseta.imagen.url}}" alt="imagen del producto">
            <div class="camisa__contenido">
                <p>{{camiseta.descripcion}}</p>
                <form class="formulario">
                    <select class="formulario__campo">
                        <option disabled selected>seleccionar talla</option>
                        <option>chica</option>
                        <option>mediana</option>
                        <option>grande</option>
                    </select>
                    <input class="formulario__campo" type="number" placeholder="Cantidad" min="1">
                    <input class="formulario__submit" type="submit" value="agregar al carrito">
                </form>
            </div>
        </div>
    </main>

{% endblock %}